body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header a{
  color: seashell;
  text-decoration: underline;
  margin-left: 10px;

}

header nav{
  display: inline-block;
    margin-right: 20px;
}
.logo img {
  height: 50px;
  margin-left: 10px

}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/mission-background.jpg");
  height: 790px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;

}

.top .headline{
  display: inline-block;
  width: 1200px;
  background-color: black;
}


.middle{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.teas{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 1000px;

}

.flavor{
  margin-right: 20px;
  justify-content: center;

}

.flavor .images{
  width: 300;
  height: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
}

.title{
  display: flex;
  flex-flow: column wrap;
  margin: 0px 200px 0px 200px;
  padding: 0px;

}

#Fall-Berry{
  background-image: url("../images/berryblitz.jpg");
}

#Spiced-Rum{
  background-image: url("../images/spiced-rum.jpg");
}

#Myrtle-Ave{
  background-image: url("../images/myrtle-ave.jpg");
}

 #Donuts{
  background-image: url("../images/donut.jpg");
}
 #Bedford-Bizarre{
  background-image: url("../images/bedford-bizarre.jpg");
}


.lower{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("../images/locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-left: 20px;
  margin-left: 20px;
}

.sites{
  display: flex;
  justify-content: center;

}

.stores{
  justify-content: center;
  margin-right: 20px;
  margin-right: 40px;
  background-color: black;
  width: 300px;
  height: 250px;
  opacity: 1;
  margin-top: -5px;
}
