body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  flex: 1 3 auto;
}

header a{
  color: seashell;
  text-decoration: underline;
  margin-left: 10px;

}

header nav{
  display: inline-block;
    margin-right: 20px;
}
.logo img {
  height: 50px;
  margin-left: 10px;
  flex-grow: 1;

}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/mission-background.jpg");
  height: 790px;
  width: 1200px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;

}

.top .headline{
  display: inline-block;
  background-color: black;
  width: 1200px;
}


.middle{
  display: flex;
  min-height: 790px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.teas{
  display: inline-block;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;

}

.flavor{
  display: inline-block;
  margin-right: 20px;
  justify-content: center;

}


.title{
  display: flex;
  flex-flow: column wrap;
  margin: 0px 200px 0px 200px;
  padding: 0px;

}


.lower{
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("../images/locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
}

.sites{
  display: flex;
  justify-content: center;

}

.stores{
  justify-content: center;
  margin-right: 20px;
  margin-right: 40px;
  background-color: black;
  width: 300px;
  height: 250px;
  opacity: 1;
  margin-top: -5px;
}

footer{
  display: inline-block;
  width: 100%
}

.contact{
  height: 200px;

}

.copyright{
  text-align: left;
  margin-left: 20px;
}
